@model PeriodicalLiterature.Models.Entity.ContractResult

@{
    ViewBag.Title = "Announcement";
    Layout = "~/Views/Shared/_LayoutPublisher.cshtml";
}


<h2>@Model.Message</h2>
<p>Название издания</p>
<p>@Model.Contract.TitleEdition</p>




